/* landing.css contains styles pertaining to the landing page. */

html {
  height: 100%;
}

body.album {
  min-height: 100%;
  color: #d4ba66;
  font-family: 'Saira Semi Condensed', sans-serif;
  background-image: url(../assets/images/coffee-bg-5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero-content .hero-title {
  font-family: 'Saira Semi Condensed', sans-serif;
  text-align: left;
  padding-top: 5rem;
  padding-left: 2rem;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  min-height: 5rem;
}

.album-view {
  background-color: rgba(212, 186, 102, 0.75);
  min-height: 18rem;
  color: #811f0c;
  font-size: 0.9rem;;
  text-decoration: none;
  padding: 0.5rem;
}

.album-view-details {
  font-family: 'Saira Semi Condensed', sans-serif;
  position: relative;
}

.album-view-details .album-view-title {
  font-size: 1rem;;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.album-view-song-list {
  background-color: rgba(129, 31, 12, 0.95);
  color: #d4ba66;
  /*margin-top: 1rem;*/
  margin-left: 1rem;
  font-weight: 300;
  font-size: 1em;
  border-collapse: collapse;
  margin-bottom: 5rem;
}

.album-view-song-item {
  height: 3rem;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.song-item-number {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 5%;
  min-width: 30px;
}

.song-item-title {
  width: 85%;
}

.song-item-duration {
  width: 5%;
  padding-right: 1rem;
}

.album-song-button:hover {
  cursor: pointer;
}

.album-song-button span {
  line-height: 28px;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.container {
  max-width: 30rem;
}

.container.narrow {
  max-width: 26rem;
}

img {
  max-width:100%;
  max-height:100%;
}

a:link, a:visited {
  text-decoration: none;
  color: #d4ba66;
}
