/* landing.css contains styles pertaining to the landing page. */

html {
  height: 100%;
}

body.landing {
  min-height: 100%;
  color: #d4ba66;
  font-family: 'Saira Semi Condensed', sans-serif;
  background-image: url(../assets/images/coffee-bg-5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero-content .hero-title {
  font-family: 'Saira Semi Condensed', sans-serif;
  text-align: left;
  padding-top: 5rem;
  padding-left: 2rem;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  min-height: 5rem;
}


.hero-content .hero-title a:link, 
.hero-content .hero-title a:visited {
  color: #d4ba66;
}

.albums {
  background-color: rgba(212, 186, 102, 0.75);
}

.navbar-link {
  color: #811f0c;
  font-size: 1rem;;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  padding-right: 1rem;
  padding-left: 1rem;
  letter-spacing: 0.15rem;
}

.navbar-link:hover {
  color: #d4ba66;
}

.point {
  position: relative;
  /*padding: 2rem;*/
  text-align: center;
  opacity: 0.2;
  -webkit-transform: scaleX(0.9);
  -moz-transform: scaleX(0.9);
  transform: scaleX(0.9);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  transition-delay: .1s;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.container {
  max-width: 30rem;
}

.container.narrow {
  max-width: 26rem;
}

img {
  max-width:100%;
  max-height:100%;
}

a:link {
  text-decoration: none;
  text-decoration-color: none;
}

a:link, a:visited {
  text-decoration: none;
  text-decoration-color: none;
}
