/* main.css should be used for global tyles. It is good practice to organize styles into multiple files, each with a specific purpose */

*, *::before, *::after {                    /* '*' is a universal selector. :before and :after create pseudo elements for first and last child */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

 @media (min-width: 640px) {                /* Medium and small screens: 640px i.e. smaller tablets and bigger phones */
     html {font-size: 112%;}                /* rem based on default font, around 16px, so 100%+ for better legibility */

     .column {                              /* making a grid system */
         float: left;                       /* ensures that every element with the volumn class to stick to the left */
         padding-left: 1rem;                /* add padding to keep some aesthetic space between grid elements */
         padding-right: 1rem;
     }
     .column.full { width: 100%; }
     .column.two-thirds { width: 66.7%; }
     .column.half { width: 50%; }
     .column.third { width: 33.3%; }
     .column.fourth { width: 25%; }
     .column.flow-opposite { float: right; }
 }

 @media (min-width: 1024px) {               /* Large screens: 1024px, such as for laptops and tablets */
     html {font-size: 120%;}                /* Since rem is based on default browser font, around 16px, we want 100%+ for better legibility */

     .column {                              /* making a grid system */
         float: left;                       /* ensures that every element with the volumn class to stick to the left */
         padding-left: 1rem;                /* add padding to keep some aesthetic space between grid elements */
         padding-right: 1rem;
     }
     .column.full { width: 100%; }
     .column.two-thirds { width: 66.7%; }
     .column.half { width: 50%; }
     .column.third { width: 33.3%; }
     .column.fourth { width: 25%; }
     .column.flow-opposite { float: right; }
 }
